.projects-container {
    margin: 4rem 0;
    text-align: center;
    position: relative;
    padding: 0 2rem;
}

.projects-container::after,
.projects-container::before {
    content: " ";
    width: 25rem;
    height: 25rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.projects-container::after {
    top: -3rem;
    left: -5rem;
}

.projects-container::before {
    background: #773d8d;
    bottom: 0rem;
    right: 0rem;
}

.projects-container h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.projects-container p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.projects-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}



@media (max-width: 1024px) {
    .projects-container h2 {
        font-size: 2rem;
    }

    .projects-container p {
        font-size: 1rem;
    }

    .projects-container::after,
    .projects-container::before {
        width: 20rem;
        height: 20rem;
    }
}

@media (max-width: 768px) {
    .projects-container h2 {
        font-size: 1.75rem;
    }

    .projects-container p {
        font-size: 0.9rem;
    }

    .projects-container::after,
    .projects-container::before {
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width: 480px) {
    .projects-container h2 {
        font-size: 1.5rem;
    }

    .projects-container p {
        font-size: 0.8rem;
    }

    .projects-container::after,
    .projects-container::before {
        width: 10rem;
        height: 10rem;
    }}